@font-face {
	font-family: AdultSwim;
	src: url('/fonts/AdultSwimFont.ttf');
}

:root {		
	background-color: rgb(15, 15, 15);
	margin: 0;
	height: 100%;
	background-image: url('/images/DuckChannel.gif');
	background-repeat: repeat-x;
	background-position: center top;
}

.header a {
	text-decoration: none;
	font-size: 20px;
	font-family: AdultSwim;
	margin-top: 5px;
	margin-left: 25px;
	color: white;
}

.title {
	left: 5vh;
	margin: auto;
	font-size: 550%;
	position: absolute;
	top: 180px;
}
.page {
	width: 30%;
	padding: 10px;
	position: relative;
	color:white;
	position: relative;
	top: 550px;
	left: 14px;
}
.ItemProperty {
	display: flex;
	gap: 100px;
	font-size: 18px;
	font-family: Consolas;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	border-bottom: 1px solid rgb(30, 30, 30);
}
.propertyName {
	width: 150px;
}
.propertyValue a {
	text-decoration: none;
	color: white;
}

.info {
	position: absolute;
	top: 330px;
	left: 5vh;
	width: 53%;
	font-size: 18px;
	font-family: Consolas;
	color: white;
}

.info a {
	color:white;
}

.tooltip {
	color: rgb(180, 180, 180);
	font-size: 20px;
	font-family: Consolas;
	position: absolute;
	top: 625px;
	left: 1070px;
	width: 43%;
	text-align: center;
}

.frame {
	position: absolute;
	left: 920px;
	top: 0px;
	scale: 0.70;
}

.frame img {
	width: 1132px;
	height: 720px;
}
.frame video {
	position: absolute;
	left: 48.5px;
	bottom: 116.6px;
	width: 1000px;
	height: 529px;
	background-size: cover;
}

TitleThing {
	font-family: AdultSwim;
	text-align: center;
	color: white;
}